---
layout: home
---

<div class="posts clearfix">
  {% for post in site.posts %}
    <article class="post">    
      <!--<div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>-->
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {% if post.vimeonumber %}
        <iframe src="https://player.vimeo.com/video/{{ post.vimeonumber }}" width="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
<!--        <p>{{ post.desc }}</p>-->
<!--      <a href="{{ post.proj-url }}" class="small-link primary-link" target="_blank">More Info &nbsp;<i class="fa fa-external-link"></i></a> -->
<!--      <a href="{{ site.baseurl }}{{ post.url }}" class="small-link">Read details</a>-->
      </div>
    </article>
  {% endfor %}
</div>
