    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <!--<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>-->
          <nav>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
          <nav>
            <!--<a href="{{ site.baseurl }}/about">About</a>-->
          </nav>
          {% if page.title != "Home" %}
          <nav>
            <a href="{{ site.baseurl }}">Home</a>
          </nav>
          {% endif %}
        </header>
      </div>
    </div>
